<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="kr.co.FiveLastName.contractMapper">

	<!-- 계약 등록 -->
	<insert id="co_insert"
		parameterType="kr.co.FiveLastName.ContractDTO">
		INSERT INTO `FiveLastName`.`contract`
		(`co_id`,
		`co_contractDate`,
		`co_tradeTerms`,
		`co_contractStatus`,
		`co_supplyPrice`)
		VALUES
		({co_id},
		{co_contractDate},
		{co_tradeTerms},
		{co_contractStatus},
		{co_supplyPrice});
	</insert>

	<!-- 계약 전체 조회 -->
	<select id="co_selectAll">
		select * from contract
	</select>

	<!-- 계약 상세 조회 -->
	<select id="co_selectOne" resultType="kr.co.FiveLastName.ContractDTO" 
		parameterType="int">
		select * from contract
		where co_id = #{co_id}
	</select>

	<!-- 계약 수정 -->
	<update id="co_update"
		parameterType="kr.co.FiveLastName.ContractDTO">
		UPDATE `FiveLastName`.`contract`
		SET
		`co_id` = #{co_id},
		`co_contractDate` = #{co_contractDate},
		`co_tradeTerms` = #{co_tradeTerms},
		`co_contractStatus` = #{co_contractStatus},
		`co_supplyPrice` = #{co_supplyPrice}
		WHERE `co_id` = #{co_id};
	</update>

</mapper>