<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.FiveLastName.deliveryMapper">

<select id="inventoryList" resultType="kr.co.FiveLastName.domain.DeliveryDTO">
	SELECT DISTINCT
    prod.*,
    inv.in_status,
    inv.in_physicalInventory,
    inv.in_id
FROM
    erp.inventorydeliverymanagement idm
JOIN
	erp.inventory inv ON idm.in_id = inv.in_id
JOIN
    erp.incomingDeadline id ON inv.id_code = id.id_code
JOIN
    erp.receivingInspection ri ON id.ri_id = ri.ri_id
JOIN
    erp.progressInspection pi ON ri.pi_id = pi.pi_id
JOIN
    erp.shippingStatus ss ON pi.ss_id = ss.ss_id
JOIN
    erp.purchaseOrder po ON ss.po_id = po.po_id
JOIN
    erp.procurementplanregistration ppr ON po.ppr_id = ppr.ppr_id
JOIN
    erp.contract co ON ppr.co_id = co.co_id
JOIN
    erp.estimate es ON co.es_id = es.es_id
JOIN
    erp.product prod ON prod.pr_id = prod.pr_id
where    
    (prod.pr_name = #{pr_name} OR #{pr_name} IS NULL)
    AND (idm.idm_date = #{idm_date} OR #{idm_date} IS NULL)
    AND inv.in_status = '불출준비';
    
</select>

<select id="inventorySelectList" parameterType="int" resultType="kr.co.FiveLastName.domain.DeliveryDTO">
	SELECT DISTINCT
    inv.in_safetyStock,
    inv.in_availableInventory,
    inv.in_physicalInventory
FROM
	erp.inventory inv 
JOIN
    erp.incomingDeadline id ON inv.id_code = id.id_code
JOIN
    erp.receivingInspection ri ON id.ri_id = ri.ri_id
JOIN
    erp.progressInspection pi ON ri.pi_id = pi.pi_id
JOIN
    erp.shippingStatus ss ON pi.ss_id = ss.ss_id
JOIN
    erp.purchaseOrder po ON ss.po_id = po.po_id
JOIN
    erp.procurementplanregistration ppr ON po.ppr_id = ppr.ppr_id
JOIN
    erp.contract co ON ppr.co_id = co.co_id
JOIN
    erp.estimate es ON co.es_id = es.es_id
JOIN
    erp.product pr ON pr.pr_id = pr.pr_id
    where 
    in_id = #{in_id};
</select>

<insert id="idmInsert" parameterType="kr.co.FiveLastName.domain.DeliveryDTO">
	insert into inventorydeliverymanagement(idm_quantity,idm_date,in_id,idm_status)
	value(#{idm_quantity},now(),#{in_id},"출고처리")	
</insert>

<update id="inventoryUpdate" parameterType="int">
	update inventory 
		set in_availableInventory = (in_availableInventory - #{idm_quantity}),
		    in_physicalInventory = (in_physicalInventory - #{idm_quantity})
	where in_id = #{in_id};
</update>

<select id="idmReportList" parameterType="int" resultType="kr.co.FiveLastName.domain.DeliveryDTO">
	SELECT
	inv.in_id,
    prod.pr_name,
    prod.pr_quantity,
    co.co_supplyProce
FROM
    erp.inventorydeliverymanagement idm
JOIN
	erp.inventory inv ON idm.in_id = inv.in_id
JOIN
    erp.incomingDeadline id ON inv.id_code = id.id_code
JOIN
    erp.receivingInspection ri ON id.ri_id = ri.ri_id
JOIN
    erp.progressInspection pi ON ri.pi_id = pi.pi_id
JOIN
    erp.shippingStatus ss ON pi.ss_id = ss.ss_id
JOIN
    erp.purchaseOrder po ON ss.po_id = po.po_id
JOIN
    erp.procurementplanregistration ppr ON po.ppr_id = ppr.ppr_id
JOIN
    erp.contract co ON ppr.co_id = co.co_id
JOIN
    erp.estimate es ON co.es_id = es.es_id
JOIN
    erp.product pr ON pr.pr_id = pr.pr_id
where    
    (pr.pr_name = #{pr_name} OR #{pr_name} IS NULL)
    AND (idm.idm_date = #{idm_date} OR #{idm_date} IS NULL)
    AND inv.in_status = '불출';
</select>

</mapper>