<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FiveLastName.pprMapper">

	<!-- 조달 계획 등록 -->
	<insert id="ppr_insert"
		parameterType="kr.co.FiveLastName.domain.ProcurementPlanRegistrationDTO">
		INSERT INTO `ERP`.`ProcurementPlanRegistration`
		(`co_id`,
		`ppr_dueDate`,
		`ppr_status`,
		`ppr_quantity`)
		VALUES
		(#{co_id},
		 #{ppr_dueDate},
		 #{ppr_status},
		 #{ppr_quantity});
	</insert>

	<!-- 조달 계획 전체 조회 -->
	<select id="ppr_selectAll" 
		resultType="kr.co.FiveLastName.domain.ProcurementPlanRegistrationDTO">
		select * from ProcurementPlanRegistration order by ppr_id DESC
	</select>
	
	<!-- 조달 계획 상세 조회 -->
	<select id="ppr_selectOne"
		resultType="kr.co.FiveLastName.domain.ProcurementPlanRegistrationDTO"
		parameterType="int">
		select * from procurementPlanRegistration where ppr_id = #{ppr_id}
	</select>
	
	<!-- 조달 계획 수정 -->
	<update id="ppr_update" parameterType="kr.co.FiveLastName.domain.ProcurementPlanRegistrationDTO">
	UPDATE `erp`.`procurementplanregistration`
	SET
	`co_id` = #{co_id},
	`ppr_dueDate` = #{ppr_dueDate},	
	`ppr_status` = #{ppr_status},
	`ppr_quantity` = #{ppr_quantity}
	WHERE `ppr_id` = #{ppr_id};
	</update>

</mapper>