<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FiveLastName.progressInspectionMapper">
	
	<select id="piAllSelect" resultType="kr.co.FiveLastName.domain.ProgressInspectionDTO">
		select pi.*, pr.pr_name, pr.pr_id, pa.pa_id, pa.pa_name, st.st_name, ss.ss_quantity
        from staff st
		join progressInspection pi on pi.st_id = st.st_id
		join shippingStatus ss on pi.ss_id = ss.ss_id
		join purchaseorder po on po.po_id = ss.po_id
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join partner pa on es.pa_id = pa.pa_id
		join product pr on pa.pr_id = pr.pr_id
        order by
        pi_status desc
	</select>
	
	<select id="piAll" resultType="kr.co.FiveLastName.domain.ProgressInspectionDTO">
		select pi.*, pr.pr_name, pr.pr_id, pa.pa_id, pa.pa_name, st.st_name, ss.ss_quantity
        from staff st
		join progressInspection pi on pi.st_id = st.st_id
		join shippingStatus ss on pi.ss_id = ss.ss_id
		join purchaseorder po on po.po_id = ss.po_id
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join partner pa on es.pa_id = pa.pa_id
		join product pr on pa.pr_id = pr.pr_id;
	</select>
	
	<select id="piSelect" resultType="kr.co.FiveLastName.domain.ProgressInspectionDTO">
		select pi.*, pr.pr_name, pr.pr_id, pa.pa_id, pa.pa_name, st.st_name, ss.ss_quantity
        from staff st
		join progressInspection pi on pi.st_id = st.st_id
		join shippingStatus ss on pi.ss_id = ss.ss_id
		join purchaseorder po on po.po_id = ss.po_id
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join partner pa on es.pa_id = pa.pa_id
		join product pr on pa.pr_id = pr.pr_id
		where pi.pi_id = #{pi_id}
	</select>
	
	<select id="piSearch" resultType="kr.co.FiveLastName.domain.ProgressInspectionDTO">
		select pi.*, pr.pr_name, pr.pr_id, pa.pa_id, pa.pa_name, st.st_name, ss.ss_quantity
        from staff st
		join progressInspection pi on pi.st_id = st.st_id
		join shippingStatus ss on pi.ss_id = ss.ss_id
		join purchaseorder po on po.po_id = ss.po_id
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join partner pa on es.pa_id = pa.pa_id
		join product pr on pa.pr_id = pr.pr_id
		where pi.ss_id = #{ss_id}
	</select>
	
	<select id="piRecord" resultType="kr.co.FiveLastName.domain.ProgressInspectionRecordDTO">
		select pir.*, pr.pr_name, pr.pr_id, pa.pa_id, pa.pa_name, st.st_name, ss.ss_quantity
        from staff st
		join progressInspection pi on pi.st_id = st.st_id
        join progressinspectionrecord pir on pi.ss_id = pir.ss_id
		join shippingStatus ss on pi.ss_id = ss.ss_id
		join purchaseorder po on po.po_id = ss.po_id
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join partner pa on es.pa_id = pa.pa_id
		join product pr on pa.pr_id = pr.pr_id
		where pir.ss_id = #{ss_id};
	</select>
	
	<select id="pirSearch" resultType="int">
		select count(*) from progressInspectionRecord where ss_id = #{ss_id}
	</select>
	
	<insert id="piInsert">
		insert into progressInspection (ss_id, st_id, pi_order, pi_date, pi_status, pi_content, pi_uninspectedQuantity, pi_inspectedQuantity)
		VALUES
		(#{ss_id},#{st_id},'1',#{pi_date},'미검수',#{pi_content},#{pi_uninspectedQuantity},'0')
	</insert>
	
	<update id="piUpdate">
    update progressInspection
    set
        pi_order = #{pi_order},
        pi_date = 
            <if test="pi_date == ''">
                NULL
            </if>
            <if test="pi_date != ''">
               #{pi_date}
            </if>
            ,
        pi_status = #{pi_status},
        pi_content = #{pi_content},
        pi_inspectedDate = now(),
        pi_uninspectedQuantity = pi_uninspectedQuantity - #{pi_inspectedQuantity},
        pi_inspectedQuantity = pi_inspectedQuantity + #{pi_inspectedQuantity}
    where pi_id = #{pi_id}
</update>
	
	<update id="ssComplete">
		update shippingStatus
		set
		ss_piStatus = '발행완료'
		where ss_id = #{ss_id}
	</update>
	
	<select id="stSelect" resultType = "kr.co.FiveLastName.domain.StaffDTO">
		select * from staff where st_id = #{st_id}
	</select>
	
	<select id="paSelect" resultType = "kr.co.FiveLastName.domain.PartnerDTO">
		select * from partner where pa_id = #{pa_id}
	</select>
	
	<insert id="insertRecord">
		insert into progressInspectionRecord(ss_id, st_id, pir_order, pir_date, pir_status, pir_content, pir_uninspectedQuantity, pir_inspectedQuantity, pir_inspectedDate)
		VALUES
		(#{ss_id},#{st_id},#{pi_order},#{pi_date},#{pi_status},#{pi_content},#{pi_uninspectedQuantity},#{pi_inspectedQuantity},#{pi_inspectedDate})
	</insert>
	
</mapper>