<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FiveLastName.mapper">

	<select id="poSelect" resultType="kr.co.FiveLastName.domain.PurchaseOrderDTO" parameterType="int">
		select * from purchaseOrder where po_id = #{po_id}
	</select>
	
	<select id="poAllSelect" resultType="kr.co.FiveLastName.domain.PurchaseOrderDTO">
		select * from purchaseOrder
	</select>

	<insert id="poInsert">
		insert into purchaseOrder(po_id,ppr_id,po_regDate)
		values
		(#{po_id},#{ppr_id},#{po_regDate})
	</insert>
	
	<update id="poUpdate">
		update purchaseOrder
		set
		po_regDate = now()
	</update>
</mapper>