<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FiveLastName.purchaseOrderMapper">

	
	<select id="poAllSelect" resultType="kr.co.FiveLastName.domain.PrintPODTO">
		select po.po_id, pr.pr_name, co.co_supplyPrice, es.es_requiredDays, co.co_tradeTerms,
		pa.pa_name, ppr.ppr_dueDate, po.po_regDate, pa.pa_name, pr.pr_size, co_contractDate,
		ppr.ppr_quantity, po.po_status,pa.pa_manager,pa.pa_tel,pa.pa_email,ppr.ppr_id
		from purchaseorder po 
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join procurmentPlan pp on es.pp_id = pp.pp_id
		join product pr on pp.pr_id = pr.pr_id
        join partner pa on pr.pr_partner = pa.pa_id
        order by po.po_status
	</select>
	
	<select id="poSelect" resultType = "kr.co.FiveLastName.domain.PrintPODTO">
		select po.po_id, pr.pr_name, co.co_supplyPrice, es.es_requiredDays, co.co_tradeTerms,
		pa.pa_name, ppr.ppr_dueDate, po.po_regDate, pa.pa_name, pr.pr_size, co_contractDate,
		ppr.ppr_quantity, po.po_status, pa.pa_manager,pa.pa_tel,pa.pa_email,ppr.ppr_id
		from purchaseorder po 
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join procurmentPlan pp on es.pp_id = pp.pp_id
		join product pr on pp.pr_id = pr.pr_id
        join partner pa on pr.pr_partner = pa.pa_id
		where po.po_id = #{po_id}
	</select>
	
	<select id="poPrev" resultType = "kr.co.FiveLastName.domain.PrintPODTO">
		select ppr.ppr_id, pr.pr_name, co.co_supplyPrice, es.es_requiredDays, co.co_tradeTerms,
		pa.pa_name, ppr.ppr_dueDate, now() as po_regDate, pa.pa_name, pr.pr_size, co_contractDate,
		ppr.ppr_quantity, ppr.ppr_status, pa.pa_manager,pa.pa_tel,pa.pa_email
		from procurementplanregistration ppr 
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join procurmentPlan pp on es.pp_id = pp.pp_id
		join product pr on pp.pr_id = pr.pr_id
        join partner pa on pr.pr_partner = pa.pa_id
		where ppr.ppr_id = #{ppr_id}
	</select>
	
	<insert id="poInsert">
		insert into purchaseOrder(ppr_id,po_regDate,po_status)
		values
		(#{ppr_id},now(),"미발행")
	</insert>
	
	<update id="poComplete">
		update procurementPlanRegistration
		set
		ppr_status = "발행완료"
		where ppr_id = #{ppr_id}
	</update>
	
	<select id="poSearch" resultType="kr.co.FiveLastName.domain.PrintPODTO">
		select po.po_id, pr.pr_name, co.co_supplyPrice, es.es_requiredDays, co.co_tradeTerms,
		pa.pa_name, ppr.ppr_dueDate, po.po_regDate, pa.pa_name, pr.pr_size, co_contractDate,
		ppr.ppr_quantity, po.po_status,pa.pa_manager,pa.pa_tel,pa.pa_email
		from purchaseorder po 
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join procurmentPlan pp on es.pp_id = pp.pp_id
		join product pr on pp.pr_id = pr.pr_id
        join partner pa on pr.pr_partner = pa.pa_id
		where ppr.ppr_id = ${ppr_id}
	</select>
	
	<select id="pprAll" resultType="kr.co.FiveLastName.domain.PrintPODTO">
		select pr.pr_name, co.co_supplyPrice, es.es_requiredDays, co.co_tradeTerms,
		pa.pa_name, ppr.ppr_dueDate,pa.pa_name, pr.pr_size, co_contractDate,
		ppr.ppr_quantity,pa.pa_manager,pa.pa_tel,pa.pa_email,ppr.ppr_id,ppr.ppr_status
		from procurementPlanRegistration ppr
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join procurmentPlan pp on es.pp_id = pp.pp_id
		join product pr on pp.pr_id = pr.pr_id
        join partner pa on pr.pr_partner = pa.pa_id
		where ppr.ppr_status = "미발행";
	</select>
	
	<select id="pprSearch" resultType="kr.co.FiveLastName.domain.ProcurementPlanRegistrationDTO">
		select * from procurementPlanRegistration
		where ppr_status = "미발행"	
	</select>
	
	<select id="pprCount" resultType="int">
		select count(*) from procurementPlanRegistration
		where ppr_status = "미발행"	
	</select>
	
	
</mapper>