<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FiveLastName.ReturnMapper">

	<!-- 반품 조회 -->
	<!-- 반품신청일  품목명 불량수량 불량수량 반품상태 -->
	<select id="re_list" resultType="kr.co.FiveLastName.domain.ReturnDTO">
		SELECT
		re.re_returnApplicationDate, pr.pr_name, re.re_errorNum, re.re_status
		
		FROM return re
		 
		INNER JOIN receivingInspection ri on re.ri_id = ri.ri_id
		INNER JOIN progressInspection pi on ri.pi_id = pi.pi_id
		INNER JOIN staff st on pi.st_id = st.st_id
		INNER JOIN shippingStatus ss on pi.ss_id = ss.ss_id
		INNER JOIN purchaseOrder po on ss.po_id = po.po_id
		INNER JOIN procurementPlanRegistration ppr on po.ppr_id = ppr.ppr_id
		INNER JOIN contract co on ppr.co_id = co.co_id
		INNER JOIN estimate es on co.es_id = es.es_id
		INNER JOIN product pr on es.pr_id = pr.pr_id
		
		WHERE 
	</select>
	
	<!-- 반품 상세조회 -->
	<!-- 반품신청일 품목명 불량수량 불량사유 반품상태 반품완료일-->
	<select id="re_selectOne" parameterType="String" resultType="kr.co.FiveLastName.domain.ReturnDTO">
		SELECT
		re.re_returnApplicationDate, pr.pr_name, re.re_errorNum, re.re_notes, re.re_status, re.re_returnCompletionDate
		
		FROM return re
		 
		INNER JOIN receivingInspection ri on re.ri_id = ri.ri_id
		INNER JOIN progressInspection pi on ri.pi_id = pi.pi_id
		INNER JOIN staff st on pi.st_id = st.st_id
		INNER JOIN shippingStatus ss on pi.ss_id = ss.ss_id
		INNER JOIN purchaseOrder po on ss.po_id = po.po_id
		INNER JOIN procurementPlanRegistration ppr on po.ppr_id = ppr.ppr_id
		INNER JOIN contract co on ppr.co_id = co.co_id
		INNER JOIN estimate es on co.es_id = es.es_id
		INNER JOIN product pr on es.pr_id = pr.pr_id
		
		WHERE re.re_code = #{re.re_code}
	</select>

	<!-- 반품 등록 -->
	<insert id="re_insert" parameterType="kr.co.FiveLastName.domain.ReturnDTO">
		INSERT INTO return(re_code, rI_id, re_returnApplicationDate, re_status,
		re_returnCompletionDate,re_errorNum, re_notes)
		VALUES
		(#{re_code}, #{rI_id}, #{re_returnApplicationDate}, #{re_status},
		#{re_returnCompletionDate},#{re_errorNum}, #{re_notes})
	</insert>

	<!-- 반품 수정 -->
	<update id="re_update" parameterType="kr.co.FiveLastName.domain.ReturnDTO">
		UPDATE return
		SET
		re_returnApplicationDate = #{re_returnApplicationDate},
		re_status = #{re_status},
		re_returnCompletionDate = #{re_returnCompletionDate},
		re_errorNum = #{re_errorNum},
		re_notes = #{re_notes}
		WHERE
	</update>
	



</mapper>