<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FiveLastName.shippingStatusMapper">

	<select id="selectAllShippingStatus" resultType="kr.co.FiveLastName.domain.ShippingStatusDTO">
		select ss.*, pr.pr_name, pr.pr_id, pa.pa_id, pa.pa_name,pa.pa_manager,pa.pa_tel,pa.pa_email
		from shippingStatus ss
		join purchaseorder po on po.po_id = ss.po_id
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join partner pa on es.pa_id = pa.pa_id
		join product pr on pa.pr_id = pr.pr_id
	</select>
	
	<select id="selectShippingStatus" resultType="kr.co.FiveLastName.domain.ShippingStatusDTO">
		select ss.*, pr.pr_name, pr.pr_id, pa.pa_id, pa.pa_name,pa.pa_manager,pa.pa_tel,pa.pa_email
		from shippingStatus ss
		join purchaseorder po on po.po_id = ss.po_id
		join procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		join contract co on ppr.co_id = co.co_id
		join estimate es on co.es_id = es.es_id
		join partner pa on es.pa_id = pa.pa_id
		join product pr on pa.pr_id = pr.pr_id
		where ss.ss_id = #{ss_id}
	</select>
	
	<select id="search" resultType = "kr.co.FiveLastName.domain.ShippingStatusDTO">
		select * from shippingstatus
		where po_id = #{po_id}
	</select>
	
	<select id="count" resultType = "int">
		select count(*) from shippingstatus
		where po_id = #{po_id}
	</select>
	
	<insert id="ssInsert">
		insert into shippingstatus(po_id,ss_quantity,ss_status,ss_deliverySchedule,ss_shippingStatus,ss_piStatus)
		values
		(#{po_id},#{ss_quantity},'제작중','일정준수','출하준비중','미발행')
	</insert>
	
	<update id="ssUpdate">
		update shippingstatus
		set
		ss_quantity = #{ss_quantity},
		ss_status = #{ss_status},
		ss_deliverySchedule = #{ss_deliverySchedule},
		ss_shippingDate = #{ss_shippingDate},
		ss_shippingStatus = #{ss_shippingStatus}
		where ss_id = #{ss_id}
	</update>

	<update id="ssComplete" parameterType="int"> 
		update shippingstatus
		set
		ss_status = '제작완료',
		ss_deliverySchedule = '일정준수',
		ss_shippingDate = now(),
		ss_shippingStatus = '출하완료'
		where ss_id = #{ss_id}
	</update>
	
	<update id="poComplete">
		update purchaseOrder
		set
		po_status = '발행완료'
		where po_id = #{po_id}
	</update>
	
	
</mapper>