<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FiveLastName.ShMapper">
	
	<!-- 출하명세서 전체 조회 -->
	<!-- 일자  품목명  수량  공급가액  거래처명 -->
	<select id="sh_list" resultType="kr.co.FiveLastName.domain.ShippingStatementDTO">
		SELECT 
		ss.ss_shippingDate, pr.pr_name, ss.ss_quantity, co.co_supplyPrice, ss.ss_shippingDate, pa.pa_name
		
		FROM shippingstatement sh
		
		INNER JOIN shippingstatus ss ON sh.ss_id = ss.ss_id
		INNER JOIN purchaseorder po ON ss.po_id = po.po_id
		INNER JOIN procurementplanregistration ppr ON po.ppr_id = ppr.ppr_id
		INNER JOIN contract co ON ppr.co_id = co.co_id
		INNER JOIN estimate es ON co.es_id = es.es_id
		INNER JOIN product pr ON es.pr_id = pr.pr_id
		INNER JOIN partner pa ON es.pa_id = pa.pa_id
		
		WHERE ss.ss_status = "제작완료" and ss.ss_deliverySchedule = "일정준수";
	</select>
	
	<!-- 출하명세서 상세조회 -->
	<select id="sh_selectOne" parameterType="int" resultType="kr.co.FiveLastName.domain.ShippingStatementDTO">
		SELECT 
		ss.ss_shippingDate, pr.pr_name, ss.ss_quantity, ss.ss_status, ss.ss_shippingDate, co.co_supplyPrice, pa.pa_name
		
		FROM shippingstatement sh
		
		INNER JOIN shippingstatus ss ON sh.ss_id = ss.ss_id
		INNER JOIN purchaseorder po ON ss.po_id = po.po_id
		INNER JOIN procurementplanregistration ppr on po.ppr_id = ppr.ppr_id
		INNER JOIN contract co ON ppr.co_id = co.co_id
		INNER JOIN estimate es ON co.es_id = es.es_id
		INNER JOIN product pr ON es.pr_id = pr.pr_id
		INNER JOIN partner pa ON es.pa_id = pa.pa_id
		
		WHERE sh.sh_id = #{sh.sh_ip};
	</select>
			 
	<!-- 출하명세서 등록 -->
	<insert id="sh_insert" parameterType="kr.co.FiveLastName.domain.ShippingStatementDTO">
		INSERT INTO shippingstatement(sh_id, ss_id, sh_date)
		VALUES
		(#{sh_id}, #{ss_id}, #{sh_date);
	</insert>		 
	
	<!-- 출하명세서 수정 -->
	<update id="sh_update" parameterType="kr.co.FiveLastName.domain.ShippingStatementDTO">
		UPDATE shippingstatement
		SET	sh_date = #{sh_date}
		WHERE sh_id = #{sh_id}
	</update>			 
			 
</mapper>