<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FiveLastName.TsMapper">

	<!-- 거래명세서 조회 -->
	<!--  -->
	<select id="ts_list" resultType="kr.co.FiveLastName.domain.TransactionStatementDTO">
		SELECT
		ri.ri_date, pr.pr_name, id.id_genuineNum, co_supplyPrice, id_totalPrice 
		
		FROM transactionStatement ts
		
		INNER JOIN incomingDeadline id ON ts.id_code = id.id_code
		INNER JOIN receivingInspection ri ON id.ri_id = ri.ri_id
		INNER JOIN progressInspection pi ON ri.pi_id = pi.pi_id
		INNER JOIN staff st ON pi.st_id = st.st_id
		INNER JOIN shippingStatus ss ON pi.ss_id = ss.ss_id 
		INNER JOIN purchaseOrder po ON ss.po_id = po.po_id
		INNER JOIN procurementPlanRegistration ppr ON po.ppr_id = ppr.ppr_id
		INNER JOIN contract co ON ppr.co_id = co.co_id
		INNER JOIN estimate es ON co.es_id = es.es_id
		INNER JOIN product pr ON es.pr_id = pr.pr_id
		INNER JOIN partner pa ON es.pa_id = pa.pa_id
	</select>
	
	<!-- 거래명세서 상세조회 -->
	<!--  -->
	<select id="ts_selectOne" parameterType="String" resultType="kr.co.FiveLastName.domain.TransactionStatementDTO">
		SELECT
		ri.ri_date, pr.pr_name, id.id_genuineNum, co_supplyPrice, id_totalPrice
		
		FROM transactionStatement ts
		
		INNER JOIN incomingDeadline id ON ts.id_code = id.id_code
		INNER JOIN receivingInspection ri ON id.ri_id = ri.ri_id
		INNER JOIN progressInspection pi ON ri.pi_id = pi.pi_id
		INNER JOIN staff st ON pi.st_id = st.st_id
		INNER JOIN shippingStatus ss ON pi.ss_id = ss.ss_id 
		INNER JOIN purchaseOrder po ON ss.po_id = po.po_id
		INNER JOIN procurementPlanRegistration ppr ON po.ppr_id = ppr.ppr_id
		INNER JOIN contract co ON ppr.co_id = co.co_id
		INNER JOIN estimate es ON co.es_id = es.es_id
		INNER JOIN product pr ON es.pr_id = pr.pr_id
		INNER JOIN partner pa ON es.pa_id = pa.pa_id
		
		WHERE ts.ts_num = #{ts.ts_num};
	</select>
	
	<!-- 거래명세서 등록 -->
	<insert id="ts_insert" parameterType="kr.co.FiveLastName.domain.TransactionStatementDTO">
		INSERT INTO
		transactionStatement(ts_num, id_code, ts_checkIn)
		VALUES
		(#{ts_num}, #{id_code}, #{ts_checkIn})
	</insert>
	
	<!-- 거래명세서 수정 -->
	<update id="ts_update" parameterType="kr.co.FiveLastName.domain.TransactionStatementDTO">
		UPDATE transactionStatement
		SET ts_checkIn = #{ts_checkIn}
		WHERE ts_num = #{ts_num}
	</update>	
	
	
	
</mapper>